.datatable {
	margin-bottom: 100px;

	&__table {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		background-color: white;
		border-top: 2px solid black;
		border-left: 2px solid black;
		border-bottom: 2px solid black;
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		border-right: 2px solid black;
	}

	&__row {
		padding: 15px;
		height: 100%;
		width: 100%;
	}

	&__row:not(&__row:last-child) {
		border-bottom: 2px solid black;
	}

	&__info {
		background-color: palegoldenrod;
		font-weight: 700;
	}

	&__header {
		background-color: palegoldenrod;
		font-weight: 700;
	}
}
